<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>departments & employees</title>
    <style type="text/css">
        .invalid, .not-unique, .invalid-email {
            display: none;
            color: red;
        }

        .success-add, .success-edit {
            display: none;
            color: green;
        }
    </style>
</head>
<body>

<h3 class="my-4 title" style="text-align: center">
    <% if (!!id) { %>
    Edit employee info
    <% } else { %>
    Add new employee
    <% } %>
</h3>

<form id="form" class="mx-auto" style="width: 40%">
    <input type="hidden" class="form-control" id="id" name="id"  value="<%= id %>" />
    <input type="hidden" class="form-control" id="department" name="department"  value="<%= department %>" />
    <div class="form-group">
        <label for="name">name *</label>
        <span class="validation invalid pl-4">This field is required</span>
        <input type="text" class="form-control" id="name" name="name"  value="<%= employee.name %>" required/>
    </div>
    <div class="form-group">
        <label for="email">email *</label>
        <span class="validation invalid pl-4">This field is required</span>
        <span class="validation not-unique pl-4">Value must be unique</span>
        <span class="validation invalid-email pl-4">Invalid email</span>
        <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="<%= employee.email %>"
                required
        />
    </div>
    <div class="form-group">
        <label for="birthday">birthday *</label>
        <span class="validation invalid pl-4">This field is required</span>
        <input type="text"
               class="form-control"
               id="birthday"
               name="birthday"
               value="<% if (employee.birthday) { %><%= employee.birthday.getFullYear() %>-<% if (employee.birthday.getMonth() + 1 < 10) { %>0<%= employee.birthday.getMonth() + 1 %><% } else { %><%= employee.birthday.getMonth() +1 %><% } %>-<% if (employee.birthday.getDate() < 10) { %>0<%= employee.birthday.getDate() %><% } else { %><%= employee.birthday.getDate() %><% } %><% } %>"
               required
        />
    </div>
    <div class="form-group">
        <label for="salary">salary *</label>
        <span class="validation invalid pl-4">This field is required</span>
        <input type="number" class="form-control" id="salary" name="salary"  value="<%= employee.salary %>" required/>
    </div>
    <div>
        <input
                type="submit"
                class="btn btn-secondary float-right"
                style="width: 200px"
                value=  <% if (!!id) { %>
                            'Edit'
                        <% } else { %>
                            'Add'
                         <% } %>
        />
        <a href="/employees-list?department=<%= department %>" class="btn btn-secondary"><</a>
        <span class="validation success-add pl-4">New employee was added</span>
        <span class="validation success-edit pl-4">Employee info was edited</span>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous">
</script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<script>

    $(document).ready(function() {

    	$.validator.addMethod("dateFormat",
			function(value) {
				return value.match(/(\d{4})-(\d{2})-(\d{2})/);
			},
			"Date format yyyy-mm-dd"
		);

    	var handleFormSubmit = function() {
			$('.validation').css('display', 'none');
			$('#form').validate({
                rules: {
                    name: 'required',
                    email: {
                    	required: true,
                    	email: true,
                    },
                    birthday: {
                    	required: true,
						dateFormat : true,
                    },
                    salary: 'required'
                },
				errorPlacement: function(error, element) {
					error.insertBefore(element);
					error.css('color', 'red');
					error.css('padding-left', '1rem');
				},
				submitHandler: function(form, e) {
                    e.preventDefault();
                    var data = {
						department: form.department.value,
                        employee_ID: form.id.value,
                    	name: form.name.value,
                        email: form.email.value,
                        birthday: form.birthday.value,
                        salary: form.salary.value,
                    };
					$.ajax({
						url: '/setEmployee',
						type: 'post',
						data: JSON.stringify(data),
						success: function() {
							if (form.id.value) {
								$('.success-edit').css('display', 'inline-block');
							} else {
								$('.success-add').css('display', 'inline-block');
							}
						},
						error: function(res) {
							if (res.responseText === 'Email is not unique') {
								$('.not-unique').css('display', 'inline-block');
							}
						}
					})
                },
            });
        }

        $('input[type=submit]').click(function() {
			handleFormSubmit();
        });
    });

</script>

</body>
</html>
