<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>departments & employees</title>
</head>
<body>

<a href="/" class="btn btn-secondary position-absolute ml-3"><</a>
<h3 class="my-4" style="text-align: center">Employees of <%= department %></h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>email</th>
        <th>birthday</th>
        <th>salary</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < employees.length; i++) { %>
    <tr>
        <td><%= employees[i].employee_ID %></td>
        <td><%= employees[i].name %></td>
        <td><%= employees[i].email %></td>
        <td><% if (employees[i].birthday) { %><%= employees[i].birthday.toDateString().split(' ').splice(1).join(' ') %><% } %></td>
        <td><%= employees[i].salary %></td>
        <td>
            <a href="/employee?department=<%= department %>&id=<%= employees[i].employee_ID %>" class="btn btn-secondary btn-block">Edit</a>
        </td>
        <td>
            <button
                    type="button"
                    class="btn btn-secondary btn-block"
                    id=<%= employees[i].employee_ID%>
            >
                delete
            </button>
        </td>
    </tr>
    <% } %>
    <tr>
        <td colspan="2">
            <a href="/employee?department=<%= department %>" class="btn btn-secondary btn-block">Add</a>
        </td>
    </tr>
    </tbody>
</table>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous">
</script>

<script>

	$(document).ready(function() {
		$('button[type=button]').click(function(e) {
			var deleteEmployee = confirm('Are you sure?');
			var data = {
				id: e.target.id,
			};
			if (deleteEmployee) {
				$.ajax({
					url: '/layOff',
					type: 'post',
					data: JSON.stringify(data),
					success: function() {
						window.location.reload(true);
					},
					error: function(err) {
						console.log(err);
					},
				});
			} else {
				return false;
			}
		})
	})

</script>

</body>
</html>
