<h3 class="my-4" style="text-align: center">Departments</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>department name</th>
        <th>edit</th>
        <th>delete</th>
        <th>list</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i in departments) { %>
    <tr>
        <td><%= departments[i].department_ID %></td>
        <td><%= departments[i].department_name %></td>
        <td>
            <a href="/department?id=<%= departments[i].department_ID %>" class="btn btn-secondary btn-block">edit</a>
        </td>
        <td>
            <button id=<%= departments[i].department_ID %> type="button" class="btn btn-secondary btn-block">delete</button>
        </td>
        <td>
            <a href="/employees-list?department=<%= departments[i].department_name %>" class="btn btn-secondary btn-block">list</a>
        </td>
    </tr>
    <% } %>
    <tr>
        <td colspan="2">
            <a href="/department" class="btn btn-secondary btn-block">add</a>
        </td>
    </tr>
    </tbody>
</table>

<script>

	$(document).ready(function() {
		$('button[type=button]').click(function(e) {
			var deleteDepartment = confirm('Are you sure?');
			var data = {
				id: e.target.id,
			};
			if (deleteDepartment) {
				$.ajax({
					url: '/drop-department',
					type: 'post',
					data: data,
					success: function() {
						window.location.reload(true);
					},
					error: function(err) {
						console.log(err);
					},
				});
			} else {
				return false;
			}
		})
	})

</script>
