<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>Document</title>
    <style type="text/css">

        .invalid, .not-unique, .invalid-date, .invalid-email, .error {
            display: none;
            color: red;
        }

        .success-add, .success-edit {
            display: none;
            color: green;
        }

    </style>
</head>
<body>

<h3 class="my-4 title" style="text-align: center">
    <% if (!!id) { %>
    Edit employee info
    <% } else { %>
    Add new employee
    <% } %>
</h3>

<form class="mx-auto" style="width: 40%">
    <input type="hidden" class="form-control" id="id" name="id"  value="<%= id %>" />
    <input type="hidden" class="form-control" id="department" name="department"  value="<%= department %>" />
    <div class="form-group">
        <label for="name">name *</label>
        <span class="validation invalid pl-4">This field is required</span>
        <input type="text" class="form-control" id="name" name="name"  value="<%= employee.name %>" required/>
    </div>
    <div class="form-group">
        <label for="email">email *</label>
        <span class="validation invalid pl-4">This field is required</span>
        <span class="validation not-unique pl-4">Value must be unique</span>
        <span class="validation invalid-email pl-4">Invalid email</span>
        <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="<%= employee.email %>"
                required
        />
    </div>
    <div class="form-group">
        <label for="birthday">birthday *</label>
        <span class="validation invalid-date pl-4">date format yyyy-mm-dd</span>
        <span class="validation invalid pl-4">This field is required</span>
        <input type="text"
               class="form-control"
               id="birthday"
               name="birthday"
               value="<%= employee.birthday %>"
               required
        />
    </div>
    <div class="form-group">
        <label for="salary">salary *</label>
        <span class="validation invalid pl-4">This field is required</span>
        <input type="number" class="form-control" id="salary" name="salary"  value="<%= employee.salary %>" required/>
    </div>
    <div>
        <input
                onclick="handleForm(event, this.form)"
                type="submit"
                class="btn btn-secondary float-right"
                style="width: 200px"
                value=  <% if (!!id) { %>
                            'Edit'
                        <% } else { %>
                            'Add'
                         <% } %>
        />
        <a href="/employees-list?department=<%= department %>" class="btn btn-secondary"><</a>
        <span class="validation success-add pl-4">New employee was added</span>
        <span class="validation success-edit pl-4">Employee info was edited</span>
        <span class="validation error pl-4">ERROR!</span>
    </div>
</form>

<script>

    window.onload = function(params) {
        if (params === 'id') {
            return document.querySelector('#id').value;
        }
        if (params === 'department') {
            return document.querySelector('#department').value;
        }
    };

    var id = window.onload('id');
    var department = window.onload('department');

    function validateEmail(email) {
        var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return re.test(email.toLowerCase());
    }

    function validateDate(date) {
        var re = /(\d{4})-(\d{2})-(\d{2})/;
        return re.test(date);
    }

    function handleForm(e, form) {

        e.preventDefault();

        document.querySelectorAll('.validation').forEach(function(i) { i.style.display = 'none' });
        var elems = form.elements;
        var fields = Array.from(form.elements);
        var requiredFields = fields.filter(function(i) { return i.required });
        requiredFields.forEach(function(i) {
           if (!i.value) {
               i.closest('.form-group').querySelector('.invalid').style.display = 'inline-block';
           }
        });

        if (form.email.value && !validateEmail(form.email.value)) {
            document.querySelector('.invalid-email').style.display = 'inline-block';
            return;
        }

        if(form.birthday.value && !validateDate(form.birthday.value)) {
            document.querySelector('.invalid-date').style.display = 'inline-block';
            return;
        }


        var invalidFields = Array.from(document.querySelectorAll('.invalid'));
        if(invalidFields.some(function(i) { i.style.display === 'inline-block' })) {
            return;
        }

        var xhr = new XMLHttpRequest();

        if (id === '') {
            xhr.open('POST', '/add-employee', true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(JSON.stringify({department: department, name: elems.name.value, email: elems.email.value, birthday: elems.birthday.value, salary: elems.salary.value}));
        } else {
            xhr.open('POST', '/edit-employee', true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(JSON.stringify({department: department, employee_ID: elems.id.value, name: elems.name.value, email: elems.email.value, birthday: elems.birthday.value, salary: elems.salary.value}));
        }

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                if (xhr.responseText === 'Email is not unique') {
                    document.querySelector('.not-unique').style.display = 'inline-block';
                } else if (xhr.responseText === 'Success') {
                    const title = document.querySelector('.title').innerText;
                    if (title === 'Add new employee') {
                        document.querySelector('.success-add').style.display = 'inline-block';
                    } else {
                        document.querySelector('.success-edit').style.display = 'inline-block';
                    }
                } else {
                    document.querySelector('.error').style.display = 'inline-block';
                }
            }
        }
    }

</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>